/*                              Main game screen style                       */

.wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

.game-screen {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;

  box-sizing: border-box;
  width: 1280px;
  aspect-ratio: 2 / 1;
  overflow: hidden;

  background: url(../img/background.png) no-repeat;
  background-size: 301% auto;
  background-position: left top;
}

/*                              End Main game screen style                   */

/*                              Screen death style                          */
.game-screen--death {
  background-position: top;
}

.game-screen--foul {
  background-position: right top;
}


/*                              Screen win style                          */
.game-screen--shot {
  animation: 0.5s player-shot steps(10);
}

@keyframes player-shot {
  0% {
    filter: invert(0);
  }
  10% {
    filter: invert(1);
  }
  20% {
    filter: invert(0);
  }
  30% {
    filter: invert(1);
  }
  40% {
    filter: invert(0);
  }
  50% {
    filter: invert(1);
  }
  60% {
    filter: invert(0);
  }
  70% {
    filter: invert(1);
  }
  80% {
    filter: invert(0);
  }
  90% {
    filter: invert(1);
  }
  100% {
    filter: invert(0);
  }
}


/*                              Alert messages style                         */
.message {
  color: #fff;
  position: absolute;
  left: 57%;
  top: 36%;

  transform: translate(-50%,-50%);

  z-index: 999;
  text-align: center;
}

.message--fire {
  width: 116px;
  height: 68px;
  background: url(../img/fire-right.png) no-repeat;
  left: 60%;
  top: 60%;
}

.message--dead,
.message--win {
  left: 50%;
  top: 30%;

  font-family: "Press Start 2P";
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
}
/*                              End Alert messages style                     */

/*                              Game panels for scores style                 */
.white-line {
  position: absolute;
  left: 50%;
  top: 8%;
  z-index: 700;
  width: 1280px;
  border-bottom: 2px solid #fff;
  transform: translateX(-50%);
}

.game-panels {
  display: block;
}

.players-panel,
.time-panel,
.score-panel {
  padding: 10px;

  font-family: "Press Start 2P";
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #80d010;
}

.time-panel {
  position: absolute;
  left: 70%;
  z-index: 700;
}

.time-panel__gunman,
.time-panel__you {
  font-family: "Digital-7";
  font-size: 65px;
}

.time-panel__you  {
  padding: 8px 0 21px 0;
}

.players-panel {
  position: absolute;
  left: 50%;
  top: 8%;
  box-sizing: border-box;
  transform: translate(-50%,-50%);
  z-index: 700;
}

.players-panel__you,
.players-panel__gunman {
  padding: 10px;
  border: 2px solid #80d010;

  border-radius: 10px;
}

.players-panel__you {
  margin-bottom: 10px;
}

.score-panel {
  text-align: center;
}

.score-panel__score {
  z-index: 700;
  box-sizing: border-box;
  position: absolute;
  left: 10%;
  bottom: 5%;
}

.score-panel__score_num {
  color: white;
}

.score-panel__reward {
  z-index: 700;
  box-sizing: border-box;
  position: absolute;
  left: 80%;
  top: 85%;
}

.score-panel__reward_wanted {
  font-size: 3em;
  font-family: 'Old Town';
  color: white;
}

.score-panel__reward_num {
  color: #80d010;
  font-family: inherit;
}

.score-panel__level {
  z-index: 700;
  box-sizing: border-box;
  position: absolute;
  left: 60%;
  top: 85%;
}

.score-panel__lives {
  z-index: 700;
  box-sizing: border-box;
  position: absolute;
  left: 60%;
  top: 90%;
}

/*                              Buttons style                               */
.button {
  position: fixed;
  left: 50%;
  top: 70%;
  transform: translate(-50%,-50%);

  padding: 0;
  border: 0;
  outline: 0;

  font-family: "Press Start 2P";
  font-size: 32px;
  text-transform: uppercase;

  background: transparent;
  color: #920a0a;
  cursor: pointer;
}

.button-restart {
  display: none;
  top: 90%;
  z-index: 1001;
}

.button-next-level {
  display: none;
  top: 90%;
  z-index: 1001;
}

.button:hover {
  color: #000;
}

.button:active {
  color: #000;
}