
body {
  background: #000;
  font-family: "Press Start 2P";
}


/*                              Game menu style                             */
.game-menu {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: url(../img/main-background.png) no-repeat;
  background-size: contain;
  background-position: 50% 0;
}

.game-menu__title {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);

  font-size: 70px;
  text-transform: uppercase;
  text-align: center;
}
/*                              End Game menu style                          */

/*                              Buttons style                               */
.button {
  position: fixed;
  left: 50%;
  top: 70%;
  transform: translate(-50%,-50%);

  padding: 0;
  border: 0;
  outline: 0;

  font-family: "Press Start 2P";
  font-size: 20px;
  text-transform: uppercase;

  background: transparent;
  color: #e20f0f;
  cursor: pointer;
}

.button-restart {
  display: none;
  top: 90%;
  z-index: 1001;
}

.button-next-level {
  display: none;
  top: 90%;
  z-index: 1001;
}

.button:hover {
  color: #000;
}

.button:active {
  color: #000;
}
/*                              End Buttons style                           */

/*                              Main game screen style                       */

.wrapper {
  display: none;
  position: fixed;
  left: 50%;
  top: 55%;
  transform: translate(-50%,-50%);

  height: 750px;
  width: 900px;

  box-sizing: border-box;
}

.game-screen {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  box-sizing: border-box;
  width: 800px;
  height: 480px;
  overflow: hidden;

  background: url(../img/bg.png) no-repeat;
  background-size: cover;
}
/*                              End Main game screen style                   */

/*                              Screen death style                          */
.game-screen--death {
  animation: 4s player-death linear;
}

@keyframes player-death {
  0% {
  box-shadow: inset 0 0 400px rgba(215, 35, 0, 0.5);
  }
  20% {
  box-shadow: inset 0 0 300px rgba(215, 35, 0, 0.5);
  }
  40% {
  box-shadow: inset 0 0 200px rgba(215, 35, 0, 0.5);
  }
  100% {
  box-shadow: inset 0 0 100px rgba(215, 35, 0, 0.5);
  }
}

/*                              Screen win style                          */
.game-screen--win {
  animation: 0.5s player-win steps(10);
}

@keyframes player-win {
  0% {
    filter: invert(0);
  }
  10% {
    filter: invert(1);
  }
  20% {
    filter: invert(0);
  }
  30% {
    filter: invert(1);
  }
  40% {
    filter: invert(0);
  }
  50% {
    filter: invert(1);
  }
  60% {
    filter: invert(0);
  }
  70% {
    filter: invert(1);
  }
  80% {
    filter: invert(0);
  }
  90% {
    filter: invert(1);
  }
  100% {
    filter: invert(0);
  }
}


/*                              Alert messages style                         */
.message {
  color: #fff;
  position: absolute;
  left: 57%;
  top: 36%;

  transform: translate(-50%,-50%);

  z-index: 999;
  text-align: center;
}

.message--fire {
  width: 116px;
  height: 68px;
  background: url(../img/fire-right.png) no-repeat;
  left: 60%;
}

.message--dead,
.message--win {
  left: 50%;
  top: 30%;

  font-family: "Press Start 2P";
  font-size: 30px;
  color: #fff;
}
/*                              End Alert messages style                     */

/*                              Game panels for scores style                 */
.white-line {
  position: absolute;
  left: 50px;
  top: 10%;
  z-index: 700;
  width: 800px;
  border-bottom: 2px solid #fff;
}

.game-panels {
  display: block;
}

.players-panel,
.time-panel,
.score-panel {
  padding: 10px;

  font-family: "Press Start 2P";
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  color: #80d010;
}

.time-panel {
  position: absolute;
  left: 70%;
  top: 2px;
  z-index: 700;
}

.time-panel__gunman,
.time-panel__you {
  font-family: "Digital-7";
  font-size: 65px;
}

.time-panel__you  {
  padding: 10px 0;
}

.players-panel {
  position: absolute;
  left: 50%;
  top: 10%;
  box-sizing: border-box;
  transform: translate(-50%,-50%);
  z-index: 700;
}

.players-panel__you,
.players-panel__gunman {
  padding: 10px;
  border: 2px solid #80d010;

  border-radius: 10px;
}

.players-panel__you {
  margin-bottom: 10px;
}

.score-panel {
  text-align: center;
}

.score-panel__score {
  position: absolute;
  left: 25%;
  top: 85%;
  transform: translate(-50%, -50%);
  z-index: 700;

  box-sizing: border-box;
}

.score-panel__level {
  position: absolute;
  left: 70%;
  top: 85%;
  z-index: 700;
  transform: translate(-50%,-50%);

  box-sizing: border-box;
}
/*                              End Game panels for scores style             */

/*                              Game win screen style                       */
.win-screen {
  display: none;
   /* display: block;*/
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background: url(../img/win-bg.png) no-repeat;
  background-size: contain;
  background-position: 50% 0;
}

.win-screen__title {
  position: fixed;
  top: 35%;
  left: 50%;

  transform: translate(-50%,-50%);

  font-size: 50px;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
}
/*                              End Game win screen style                    */

/*                              Gunman style                                 */
.gunman {
  position: absolute;
  left: 400px;
  bottom: 150px;
  z-index: 1;
  scale: 3;
  background: url(../img/gunman.png) no-repeat;
}

.hat {
  position: absolute;
  z-index: 0;
  scale: 3;
}

.shootable {
  cursor: url(../img/revolver.ico), pointer;
}

@keyframes gunman-walk {
  from {
    left: 850px;
  }
  to {
    left: 400px;
  }
}


.gunman-level-1 {
  background-position: 0 0;
  width: 32px;
  height: 64px;
}

.gunman-level-1__walk {
  animation: gunman-level-1__walk 1s steps(3) infinite, gunman-walk 5s linear;
}

.gunman-level-1__standing {
  background-position: -100px 0;
}

.gunman-level-1__ready {
  background-position: -202px 0;
}

.gunman-level-1__shooting {
  animation: gunman-level-1__duel 0.5s step-start;
  animation-iteration-count: 1;
  background-position: -436px 0;
}

.gunman-level-1__death {
  animation: gunman-level-1__death 1s steps(2);
  background-position: -372px 0;
  width: 32px;
}

.hat-level-1 {
  bottom: 222px;  
  left: 403px;
  width: 26px;
  height: 64px;
  background: url(../img/gunman.png);
  background-position: -406px 0;
  animation: hat-level-1__fly 1s linear;
}

@keyframes gunman-level-1__walk {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -98px 0;
  }
}

@keyframes gunman-level-1__duel {
  from {
    background-position: -236px 0;
  }
  to {
    background-position: -301px 0;
  }
}

@keyframes gunman-level-1__death {
  from {
    background-position: -338px 0;
    width: 32px;
    bottom: 160px;
  }
  to {
    background-position: -404px 0;
    width: 26px;
    bottom: 150px;
  }
}

@keyframes hat-level-1__fly {
  from {
    bottom: 502px;
  }
  to {
    bottom: 222px;
  }
}

.gunman-level-2 {
  background-position: 0 -68px;
  width: 32px;
  height: 72px;
}

.gunman-level-2__walk {
  animation: gunman-level-2__walk 1s steps(3) infinite, gunman-walk 5s linear;
}

.gunman-level-2__standing {
  background-position: 0 -68px;
}

.gunman-level-2__ready {
  background-position: -102px -68px;
  width: 28px;
}

.gunman-level-2__shooting {
  animation: gunman-level-2__duel 0.5s steps(4);
  animation-iteration-count: 1;
  background-position: -271px -68px;
}

.gunman-level-2__death {
  animation: gunman-level-2__death 1s steps(2);
  background-position: -239px -68px;
  width: 28px;
  height: 73px;
}

@keyframes gunman-level-2__walk {
  from {
    background-position: 0 -68px;
  }
  to {
    background-position: -102px -68px;
  }
}

@keyframes gunman-level-2__duel {
  from {
    background-position: -132px -68px;
    width: 22px;
  }
  to {
    background-position: -237px -68px;
    width: 28px;
  }
}

@keyframes gunman-level-2__death {
  from {
    background-position: -209px -68px;
    width: 32px;
  }
  to {
    background-position: -267px -68px;
    width: 26px;
  }
}

.gunman-level-3 {
  background-position: 0 -144px;
  width: 26px;
  height: 80px;
}

.gunman-level-3__walk {
  animation: gunman-level-3__walk 1s steps(3) infinite, gunman-walk 5s linear;
}

.gunman-level-3__standing {
  background-position: 0 -144px;
}

.gunman-level-3__ready {
  background-position: -84px -144px;
  width: 28px;
}

.gunman-level-3__shooting {
  animation: gunman-level-3__duel 0.5s steps(3);
  animation-iteration-count: 1;
  background-position: -174px -144px;
}

.gunman-level-3__death {
  animation: gunman-level-3__death 0.5s steps(2);
  background-position: -205px -144px;
  width: 32px;
}

@keyframes gunman-level-3__walk {
  from {
    background-position: 0 -144px;
  }
  to {
    background-position: -82px -144px;
  }
}

@keyframes gunman-level-3__duel {
  from {
    background-position: -114px -144px;
    width: 22px;
  }
  to {
    background-position: -203px -144px;
    width: 28px;
  }
}

@keyframes gunman-level-3__death {
  from {
    background-position: -173px -144px;
    width: 32px;
  }
  to {
    background-position: -237px -144px;
    width: 26px;
  }
}

.hat-level-3 {
  bottom: 600px;  
  left: 409px;
  width: 16px;
  height: 80px;
  background: url(../img/gunman.png);
  background-position: -239px -144px;
  animation: hat-level-3__fly 0.5s linear;
}

@keyframes hat-level-3__fly {
  from {
    bottom: 367px;
  }
  to {
    bottom: 600px;
  }
}

.gunman-level-4 {
  background-position: 0 -228px;;
  width: 32px;
  height: 64px;
}

.gunman-level-4__walk {
  animation: gunman-level-4__walk 1s steps(3) infinite, gunman-walk 5s linear;
}

.gunman-level-4__standing {
  background-position: 0 -228px;;
}

.gunman-level-4__ready {
  background-position: -102px -228px;;
  width: 31px;
}

.gunman-level-4__shooting {
  animation: gunman-level-4__duel 0.5s steps(3);
  animation-iteration-count: 1;
  background-position: -174px -228px;;
}

.gunman-level-4__death {
  animation: gunman-level-4__death 0.5s steps(2);
  background-position: -234px -228px;;
  width: 32px;
}

@keyframes gunman-level-4__walk {
  from {
    background-position: 0 -228px;;
  }
  to {
    background-position: -100px -228px;;
  }
}

@keyframes gunman-level-4__duel {
  from {
    background-position: -135px -228px;;
    width: 22px;
  }
  to {
    background-position: -232px -228px;;
    width: 28px;
  }
}

@keyframes gunman-level-4__death {
  from {
    background-position: -202px -228px;;
    width: 32px;
  }
  to {
    background-position: -267px -228px;;
    width: 26px;
  }
}

.hat-level-4 {
  bottom: 222px;  
  left: 400px;
  width: 30px;
  height: 64px;
  background: url(../img/gunman.png);
  background-position: -268px -228px;;
  animation: hat-level-4__fly 1s linear;
}

@keyframes hat-level-4__fly {
  from {
    bottom: 502px;
  }
  to {
    bottom: 222px;
  }
}

.gunman-level-5 {
  background-position: 0 -296px;;
  width: 32px;
  height: 69px;
}

.gunman-level-5__walk {
  animation: gunman-level-5__walk 1s steps(3) infinite, gunman-walk 5s linear;
}

.gunman-level-5__standing {
  background-position: 0 -296px;;
}

.gunman-level-5__ready {
  background-position: -102px -296px;;
  width: 29px;
}

.gunman-level-5__shooting {
  animation: gunman-level-5__duel 0.5s steps(3);
  animation-iteration-count: 1;
  background-position: -195px -296px;;
  width: 29px;
}

.gunman-level-5__death {
  animation: gunman-level-5__death 0.5s steps(3);
  background-position: -260px -296px;;
  width: 32px;
}

@keyframes gunman-level-5__walk {
  from {
    background-position: 0 -296px;;
  }
  to {
    background-position: -100px -296px;;
  }
}

@keyframes gunman-level-5__duel {
  from {
    background-position: -133px -296px;;
  }
  to {
    background-position: -224px -296px;;
  }
}

@keyframes gunman-level-5__death {
  from {
    background-position: -195px -296px;;
    width: 29px;
  }
  to {
    background-position: -292px -296px;;
    width: 32px;
  }
}

.hat-level-5 {
  bottom: 196px;  
  left: 406px;
  width: 20px;
  height: 69px;
  background: url(../img/gunman.png);
  background-position: -294px -296px;;
  animation: hat-level-5__fly 1s linear;
}

@keyframes hat-level-5__fly {
  from {
    bottom: 502px;
  }
  to {
    bottom: 196px;
  }
}