main {
    font-size: 12px;
}

.posts {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 33%);
    width: 80%;

    .post {
        display: flex;
        flex-direction: column;
        margin: 10px;
        box-shadow: 0 0 5px 1px black;

        &:nth-child(1) {
            grid-area: 1 / 1 / span 2 / span 2;

            img { flex: 1; }
        }

        &:nth-child(2) {
            grid-area: 1 / 3 / span 2 / span 1;
        }

        h3, p, a {
            padding: 5px 10px;
        }

        a {
            display: inline-block;
            text-decoration-line: none;
            background-color: black;
            color: white;
            text-align: center;
            width: 80%;
            margin: 10px;
            align-self: center;
        }
    }

    @media all and (max-width: 605px) {
        align-items: stretch;
    }
}

@media all and (max-width: 803px) {
    main { justify-content: stretch; }

    .posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .post { flex: 1; }
    }
}