body {
    background-color: black;
    overflow: hidden;
}

.blocks-container {
    position: absolute;
    top: 105px;
    left: 15%;
    right: 10%;
}

.image {
    position: absolute;
    top: 100px;
    left: 400px;
    right: 0;
    z-index: -1;
}

.image img {
    width: 1920px;
    height: 1080px;
}

.blocks-container div {
    padding: 15px;
    text-align: center;
}

.block-13 {
    width: 90%;
    background: black;
    color: white;
    border: 1px transparent;
    border-radius: 20px;
    margin-bottom: 20px;
}

.block-14 {
    width: 90%;
    background-color: gray;
    border: 1px transparent;
    border-radius: 20px;
}

.block-15, .block-16 {
    display: inline-block;
    width: 40%;
    background: white;
    border: 1px transparent;
    border-radius: 20px;
    margin: 20px;
}
