main {
    position: absolute;
    top: 105px;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main div {
    margin: 30px;
    width: 250px;
    height: 300px;
    border: 1px solid green;
}

img {
    width: 250px;
    height: 150px;
}

h3, p {
    padding-left: 10px;
}

.block-1 {
    box-shadow: -10px -10px 5px 1px black;
}

.block-2 {
    box-shadow: 0px 0px 10px 10px black;
}

.block-3 {
    box-shadow: 10px 10px 3px 1px grey;
}

.block-4 {
    box-shadow: 0px 0px 50px 5px black;
}

.block-5 {
    position: relative;
}

.block-5::after {
    box-shadow: inset 0px 5px red,
    inset -5px 0px green,
    inset 0px -5px yellow, 
    inset 5px 0px blue;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.block-6 {
    box-shadow: 0px -10px 0px -3px yellow,
    0px 10px 0px -3px green;
}