* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

:root {
    --background: rgba(56, 56, 157, 0.75);
    --hover-background: rgba(138, 138, 255, 0.75);
    --thrashed-background: rgba(157, 56, 56, 0.75);
    --shadow: 0 0 3px black;
}

body {
    width: 100%;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    background-color: rgba(0,0,0, 1);
    background-position: fixed 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#start-button {
    font-size: 3em;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: black;
    color: white;
    cursor: pointer;
}

#start-button:hover {
    background-color: white;
    color: black;
}

#form-window {
    width: 50%;
    margin: 20px 0;
    background-color: white;
    padding: 20px;
    visibility: hidden;
    
    background-color: var(--background);
    color: white;
    box-shadow: var(--shadow);
}

#form-window.intro {
    opacity: 1;
    visibility: visible;
    animation: form-intro 1s linear;
}

@keyframes form-intro { 
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes text-intro {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}

h1 {
    text-align: center;
    font-size: 4em;
}

.intro-text {
    text-align: center;
    font-size: 2em;
    margin: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
}

#intro2 {
    top: 30%;
}

#form-window.intro .intro-text {
    visibility: visible;
}

#form-window.intro #intro1 {
    animation: text-intro 1s linear 2s;
    animation-fill-mode: forwards;
}

#form-window.intro #intro2 {
    animation: text-intro 1s linear 4s;
    animation-fill-mode: forwards;
}

@keyframes text-outro {
    from {
        transform: translateX(-50%);
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
        visibility: hidden;
    }
}

#form-window.active .intro-text {
    animation: text-outro 1s linear;
    opacity: 0;
    z-index: -1;
}

#form-window.active {
    visibility: visible;
}


#forms-div {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-div div, #form-div form {
    margin: 10px;
}

#form-tabs {
    display: flex;
}

#form-tabs a {
    text-decoration: none;
    border: 3px solid white;
    padding: 5px 10px;
    color: white;
}

#form-tabs a.active {
    background-color: white;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

input, select, button {
    padding: 10px;
    color: inherit;
    background-color: transparent;
    border: 3px solid white;
    font-size: 1.5em;
    
    transition: border 0.5s cubic-bezier();
}

option {
    background-color: black;
    color: white;
}

#form-window input, #form-window select, #form-window button, #filter-window input, #filter-window select, #filter-window button {
    margin-bottom: 20px;
}

#all-valid {
    position: fixed;
    padding: 30px;
    top: 50%;
    left: 50%;
    background-color: white;
    color: black;
    border: 5px solid black;
    box-shadow: inset 0 0 5px black;
    transform: translate(-50%, -50%);
    z-index: 1;

    display: none;
}

#all-valid img {
    float: right;
    width: 100px;
    height: 100px;
}

#all-valid-login {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    color: black;
    border: 5px solid green;
    box-shadow: inset 0 0 5px black;
    transform: translate(-50%, -50%);
    z-index: 1;

    display: none;
}

#all-valid-login img {
    width: 500px;
    height: 500px;
}

#all-valid-login.show {
   display: block;
   animation: all-valid 3s linear; 
}

#all-valid.show {
   display: block;
   animation: all-valid 3s linear; 
}

@keyframes all-valid {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

#city option {
    display: none;
}

button {
    margin-top: 20px;
}

button, select {
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
}

label {
    font-size: 1.25em;
    margin-bottom: 5px;
}

small {
    display: none;
    margin-bottom: 20px;
}

input.invalid, select.invalid {
    border: 3px solid red;
    margin-bottom: 5px;
}

input.valid, select.valid {
    border: 3px solid limegreen;
}

input.invalid + small, select.invalid + small {
    display: inline;
}

#register-form {
    display: none;
}

#boom-img {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 200%;
    height: 200%;
    z-index: 999;
}

#main {
    width: 100%;
    height: 100%; 
    padding: 10px;
    color: white;
    
    display: none;
    grid-template-columns: 360px calc(100% - 360px);
    grid-template-rows: 100px calc(100% - 100px);
    gap: 10px;
}

#main.active {
    display: grid;
}

#main nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 50px);
    padding: 20px;
    background-color: var(--background);
    grid-column: 1 / 3;
    grid-row-start: 1;
    
    box-shadow: var(--shadow);
}

#sort-div {
    display: flex;
}

#sort-div > select {
    margin: 0 20px;
}

#logout {
    font-size: 2em;
    color: white;
    margin: 0;
}

#filter-window {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 30px;
    grid-row: 2 / span 1;
    
    box-shadow: var(--shadow);
}

#reverse-check {
    appearance: none;
    border: none;
    position: relative;
    padding: 0;
    transition: rotate 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#reverse-check::before {
    content: '👇';
    font-size: 2em;
}

#reverse-check:checked {
    rotate: 540deg;
}

#friends-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.friend-card {
    position: relative;
    background-color: var(--background);
    height: fit-content;
    width: 300px;
    padding: 30px;
    margin: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    box-shadow: var(--shadow);
}

.friend-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.fire {
    opacity: 0;
}

.friend-card .friend-avatar {
    width: 150px;
    height: 150px;
    position: relative;
}

.friend-card.thrashed .fire {
    opacity: 1;
}

.friend-card.thrashed {
    background-color: var(--thrashed-background);
}

.friend-card.apologized {
    animation: card-apologize 1s linear;
}

.friend-card.apologized .fire {
    animation: fire-disappear 1s linear;
    opacity: 0;
}

@keyframes fire-disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes card-apologize {
    from {
        background-color: var(--thrashed-background);
    }
    to {
        background-color: var(--background);
    }
}

.boom {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 150%;
    height: 150%;
    
    display: none;
}

.id {
    display: none;
}

#fetch-error {
    background-color: var(--background);
    box-shadow: var(--shadow);
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    display: none;
}

#fetch-error div {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 10px;
    width: 150px;
    margin-right: 100px;
    margin-bottom: 30px;
}


#fetch-error img {
    height: 150px;
    margin-left: 100px;
}

#not-found {
    background-color: var(--background);
    box-shadow: var(--shadow);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    display: none;
}

#not-found div {
    white-space: pre;
    font-size: 2em;
    margin: 30px;
}

#not-found span {
    color: yellow;
}

#not-found img {
    height: 150px;
}

#friends-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#friends-section div {
    margin-bottom: 10px;
}

#pages {
    display: flex;
}

.page {
    display: inline-flex;
    margin: 10px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}

.page:hover {
    background-color: var(--hover-background);
}

.page.active {
    background-color: white;
    color: black;
}

@media screen and (max-width: 960px) {
    #main.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #main nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 10px;
    }
    
    #main nav select {
        width: 100%;
    }
    
    #filter-window {
        width: 90%;
    }
    
}

@media screen and (max-width: 734px) {
    #form-window {
        width: 80%;
    }
}
