doctype html 
html(lang='en')
    head 
        block head
    body 
        block navbar
        header
            block header
        main
            block works 
            block wdwd 
            block journal 
        footer
            block footer