* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-spacing-trim: 40px;
}

p {
    color: green;
    text-align: center;
}

div {
    text-align: justify;
}

.text-color {
    color: red;
}

.oneline {
    white-space: nowrap;
}

#bi {
    font-weight: bold;
    font-style: italic;
}

.shadow {
    text-shadow: 5px -5px 3px #000000;
}

.big {
    text-transform: uppercase;
    text-decoration: line-through;
    text-indent: 50px;
}

.interval {
    letter-spacing: 30px;
    word-spacing: 50px;
}