extends includes/layouts/lab8_1.pug

block metas
    include includes/meta.pug
    link(rel="stylesheet" href='styles/lab8_1.css')
    title Lab Work 10. Task 8-1
block navbar 
    include includes/navbar.pug
block header 
    header 
        h1 Chernivtsi, Ukraine
        p Wednesday, November 6th
        p Overcast
block today 
    include includes/lab8_1/today.pug
block weather 
    include includes/lab8_1/weather.pug