doctype html 
html(lang='en')
    head 
        include includes/meta.pug
        link(rel='stylesheet' href='styles/lab9_4.css')
        title Lab Work 10. Task 9-4
    body 
        include includes/navbar.pug
        main 
            include includes/blocks2.pug