doctype html 
html(lang='en')
    head 
        include includes/meta.pug
        link(rel='stylesheet' href='styles/lab9_1.css')
        title Lab Work 10. Task 9-1
    body 
        include includes/navbar.pug
        main 
            include includes/images.pug