doctype html 
html 
    head 
        include includes/meta.pug
        link(rel='stylesheet' href='styles/lab9_3.css')
        title Lab work 10. Task 9-3
    body
        include includes/navbar.pug

        main 
            include includes/blocks1.pug