.blocks-container {
    position: absolute;
    top: 105px;
    left: 15%;
    width: 100%;
}

.blocks-container div {
    display: block;
    float: left;
    width: 300px;
    height: 200px;
    margin: 150px 50px;
    padding: 10px;
}

p, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 12px;
}

.block-1, .block-2, .block-3 {
    border: 5px solid black;
}

.block-1 {
    border-radius: 20px;
    clear: left;
}

.block-2 {
    border-radius: 70px 0px;
}

.block-3 {
    border-radius: 50px 150px;
}

.block-4, .block-5, .block-6 {
    border: 25px solid;
}

.block-4 {
    border-color: gray lightgray gray lightgray;
    border-radius: 200px / 50px;
    clear: left;
}

.block-5 {
    border-color: lightgray gray lightgray gray;
    border-radius: 250px 100px / 50px 25px;
}

.block-6 {
    border-color: lightgray lightgray lightgray gray;
    border-bottom-right-radius: 100%;
}

.block-7, .block-8, .block-9, .block-10, .block-11, .block-12 {
    border: double gray 20px; 
}

.block-7 {
    border-image: url("../../img/border.png") 125;
    border-image-width: 25px;
    clear: left;
}

.block-8 {
    border-image: url("../../img/border.png") 80 / 20px round;
}

.block-9 {
    border-image: url("../../img/border.png") 160 round;
}

.block-10 {
    border-image: url("../../img/border-2.png") 70 / 20px;
    clear: left;
}

.block-11 {
    border-image: url("../../img/border-2.png") 50 / 15px round;
}

.block-12 {
    border-image: url("../../img/border-2.png") 55 / 15px;
}