.footer 
    p &copy; 2024 Gramis Interactive. All rights reserved.
    .socials 
        each val in ['fa-facebook', 'fa-twitter', 'fa-github', 'fa-steam']
            a(href="#")
                i(class="fab " + val)