doctype html
html(lang="en")
    head 
        block metas
            meta(charset="UTF-8")
            meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title Lab Work 10 
        link(rel="stylesheet" href='styles/style.css')
    body 
        include includes/navbar.pug
        include includes/body.pug
        script
            include script.js