extends includes/layouts/lab8_2.pug

block head 
    include includes/meta.pug
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    link(rel='stylesheet' href='styles/lab8_2.css')
    title Lab Work 10. Task 8-2

block navbar 
    include includes/lab8_2/navbar.pug

block header 
    include includes/lab8_2/header.pug

include includes/lab8_2/content.pug

block footer 
    include includes/lab8_2/footer.pug